<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.arshdeep.financemanagement">

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerviewAddNewRecordActivity"></activity>
        <!--
            <activity
            android:name=".MortgageActivity"
           android:label="@string/mortgage_activity_title_text" />
        <activity
            android:name=".SplitBillActivity"
            android:label="@string/split_bill_activity_title_text" />
        -->
        <activity
            android:name=".AddNewUser"
            android:label="@string/add_new_user_title_text" />
        <activity
            android:name=".AddMemberActivity"
            android:label="@string/add_member_activity_title_text" />
        <activity
            android:name=".AddNewRecordActivity"
            android:label="@string/add_new_purchase_title_text" />
        <activity
            android:name=".SplitBillActivity"
            android:label="@string/activity_mortgage_payment_calculator_text"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>